*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: url(./showcase.jpg);
    background-color: rgba(75, 75, 75, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

nav{
    background-color: #333;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

nav label{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 0 0 70px;
    font-weight: bold;
}

nav ul {
    color: white;
    font-size: 20px;
    display:inline-flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    line-height: 90px;
    padding-right: 30px;
    gap: 0px 17px;
}
nav ul a{
    padding: 5px 8px;
    color: white;
    border-radius: 10px;
}
.active{
    background-color:#93CB52 ;
    transition: .5s;
}
.ACTIVE:hover{
    background-color: #93CB52;

}
@media (max-width:500px){
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 97px;
    }
    nav label{
        display: flex;
        justify-content: center;
        margin-top: -10px;
    }
    nav ul{
        text-align: center;
        margin-top: -42px;
        margin-left: 100px;
    }
}
/* Sky Is Limit */
h1{
    color: white;
    font-size: 71px;
    text-align: center;
    font-weight: 900;
    margin-top: 200px;
}
p{ 
    text-align: center;
    font-size: 21px;
    color: white;
    margin-top: 17px;
    margin-bottom: 25px;
}
.Read{
    color: white;
    font-size: 20px;
    background-color: #93CB52;
    padding: 8px 20px;
    border-radius: 7px;
}
#read-more{
    text-align: center;
}
.Read:hover{
    background-color: #8db85c;
}
@media (max-width:500px){
    h1{
        font-size: 55px;
        margin-top: 50px;
    }
    p{
        font-size: 19px;
        margin-bottom: 20px;
    }
    .Read{
        font-size: 17px;
        padding: 5px 15px;
    }
}
/* What We Do */
.WHAT-WE-DO-SECTION{
    margin-top: 336px;
    background-color:white;
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.MAIN-DIV{
    display:flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-top: -45px;
}
.WHAT-WE-DO-HEADING{
    display: flex;
    justify-content: center;
    font-size: 35px;
    gap: 0px 13px;
}

.DIV-2{
    margin-left: 70px;
    margin-right: 70px;
}

.WHAT{
    color: #93CB52;
}
.WE-DO{
    color: #333;
}
.fa-university{
    background-color: #93CB52;
    margin-top: 118px;
    margin-left: -20px;
    padding: 15px 15px;
    border-radius: 50%;
}
h3{
    margin-left: 60px;
    margin-top: -80px;

}
.P{
    text-align: left;
    color: black;
    font-size: 17px;
    margin-left: 60px;
}
.fa-book-reader{
    background-color: #93CB52;
    margin-top: 118px;
    margin-left: -20px;
    padding: 15px 15px;
    border-radius: 50%;
}
.fa-pencil-alt{
    background-color: #93CB52;
    margin-top: 118px;
    margin-left: -20px;
    padding: 15px 15px;
    border-radius: 50%;
}
@media (max-width:500px){
    .WHAT-WE-DO-SECTION{
        margin-top: 100px;
        width: 100%;
        height: 640px;
    }
    .WHAT-WE-DO-HEADING{
        margin-top: -50px;
    }
    .DIV-1{
        margin-top: -20px;
        margin-bottom: -45px;
    }
    .DIV-2{
        margin-bottom: -45px;
    }
}
/* Who We are */
.WHO-WE-ARE-SECTION{
    background-color: #333;
    height: 420px;
    width: 100%;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
}
.WHO-WE-ARE-IMAGE{ 
    background: url(./people.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:420px;
    width: 608px;
    max-width: 50%;
  
}
.CONTENT{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.WHO-WE-ARE-HEADING{
    font-size: 35px;
    color: white;
    margin-top: 25px;
    margin-left: 25px;
}
#WHO{
    color: #93CB52;
}
.P-OF-WHO-WE-ARE{
    text-align: left;
    color:white;
    margin-left: 25px;
    font-size: 17px;
    
}
.H3-OF-CONTENT{
    color: #fff;
    margin-top: 0%;
    font-weight: bold;
    margin-left: 25px;
}
.UL-OF-CONTENT{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 17px;
    margin-left: 25px;
    margin-top: 15px;
    gap: 10px 0;
}
@media (max-width:500px){
    .WHO-WE-ARE-SECTION{
        height: 500px;
    }
    .WHO-WE-ARE-IMAGE{
        width: 0%;
    }
}
/* Our Client */
.OUR-CLIENT-BACKGROUND{
    background-color:white;
    height: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.OUR{
    color: #93CB52;
}
.OUR-CLIENT-HEADING{
    text-align: center;
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 40px;
}
.OUR-CLIENT-IMAGES{
    display:flex;
    justify-content: center;
    gap: 0 80px;
    flex-wrap: wrap;
}
@media (width:500px){
    .OUR-CLIENT-BACKGROUND{
        width: 100%;
        height: 470px;
    }
    .OUR-CLIENT-IMAGES{
        margin-top: -15px;
    }
}
/* Contact Us */
#HEAD-OF-ALL-CONTACT{
    display: flex;
    flex-direction:row;
    flex: 1;
}
.CONTACT-US{
    background-color: #93CB52;
    height: 460px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.CONTACT-US-HEADING{
    color: white;
    font-size: 34px;
    margin-left: 25px;
    padding-top: 30px;
}
.CONTACT-US-PARA{
    color: white;
    font-size: 18px;
    display: flex;
    margin-left: 25px;
}
.LABEL-NAME{
    padding-left:40px;
    margin-bottom: 15px;
}

.TEXT-AREA{
    padding: 6px 195px 6px 0px
}
#Name{
    display: flex;
    flex-direction:column;
    margin-bottom: 4px;
    color: white;
}
#Email{
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    color: white;
}
#Phone-Number{
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    color: white;
}
#Message{
    display: flex;
    flex-direction: column;
    color: white;
}
.SEND{
    color: white;
    text-align: center;
    background-color: #333;
    padding: 6px 170px;
    border-radius: 5px;

}
.SEND:hover{
    background-color: #6d8f47;
}
#SEND-DIV{
    text-align: center;
}
.UNLOAD-MAP{
    background-color: #E8EAED;
    width: 65%;
    display: flex;
    flex-shrink: 8;
}
@media (max-width:500px){
    .CONTACT-US{
        width: 100%;
    }
    .UNLOAD-MAP{
        width: 0%;
    }
}
 #FOOTER{
    background-color: #333;
    margin-top: -20px;
    height: 80px;
    width: 100%;
} 
#P-OF-FOOTER{
    text-align: center;
    line-height: 80px;
    font-size: 17px;
}
@media (max-width:500px){
    #P-OF-FOOTER{
        font-size: 14px;
    }
}




