*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: url(./Image/showcase.jpg);
    background-color: rgba(75, 75, 75, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
/* Utility Class */
nav{
    background-color: #333;
    background-color: rgba(56, 56, 56,0.9);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

nav label{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 0 0 70px;
    font-weight: bold;
}

nav ul {
    color: white;
    font-size: 20px;
    display:inline-flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    line-height: 90px;
    padding-right: 30px;
    gap: 0px 17px;
}
nav ul a{
    padding: 5px 8px;
    color: white;
    border-radius: 10px;
}
.ACTIVE:hover{
    background-color: #93CB52;

}
@media (max-width:635px){  
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 97px;
    }
    nav label{
        display: flex;
        justify-content: center;
        margin-top: -10px;
    }
    nav ul{
        text-align: center;
        margin-top: -42px;
        margin-left: 100px;
    }
} 
/* Sky Is Limit */
#SECTION-1{
    padding-top: 150px;
}
h1{
    color: white;
    font-size: 71px;
    text-align: center;
    font-weight: 900;
    margin-top: 200px;
}
p{ 
    text-align: center;
    font-size: 21px;
    color: white;
    margin-top: 17px;
    margin-bottom: 25px;
}
#Read{
    color: white;
    font-size: 20px;
    background-color: #93CB52;
    padding: 8px 20px;
    border-radius: 7px;
}
#read-more{
    text-align: center;
}
#Read:hover{
    background-color: #8db85c;
}
@media (max-width:500px){
    h1{
        font-size: 55px;
        margin-top: 50px;
    }
    p{
        font-size: 19px;
        margin-bottom: 20px;
    }
    .Read{
        font-size: 17px;
        padding: 5px 15px;
    }
}
/* What We Do */
#SECTION-2{
    margin-top: 336px;
    background-color:white;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2%;
}
#SECTION-2-MAIN-DIV{
    display:flex;
    justify-content: center; 
    flex-wrap: nowrap;
    margin: auto;
    padding: 16px;
    max-width: 1100px;
}
#SECTION-2-HEADING{
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding-top: 30px;
    gap: 0px 13px;
}
.SECTION-2-CHILD-DIV-1{
    margin-top: -40px;
}
.SECTION-2-CHILD-DIV-2{
    margin-top: -40px;
}
.SECTION-2-CHILD-DIV-3{
    margin-top: -40px;
}
.WHAT{
    color: #93CB52;
}
.WE-DO{
    color: #333;
}
.fa-university{
    background-color: #93CB52;
    margin-top: 118px;
    margin-left: 0px;
    padding: 15px 15px;
    border-radius: 50%;
}
h3{
    margin-left: 80px;
    margin-top: -80px;

}
.P{
    text-align: left;
    color: black;
    font-size: 17px;
    margin-left: 80px;
    display: flex;
    flex-wrap: nowrap;
}
.fa-book-reader{
    background-color: #93CB52;
    margin-top: 118px;
    margin-left: 0px;
    padding: 15px 15px;
    border-radius: 50%;
}
.fa-pencil-alt{
    background-color: #93CB52;
    margin-top: 85px;
    margin-left: 0px;
    padding: 15px 15px;
    border-radius: 50%;
}
@media (max-width:660px){
    #SECTION-2{
        margin-top: 100px;
        width: 100%;
        height: 580px;
        padding: 70px 2% 20px 2% ;
    }
    #SECTION-2-MAIN-DIV{
        display: flex;
        flex-direction: column;
        align-items: center;
     
    }
    #SECTION-2-HEADING{
        margin-top: -70px;
    }
    .SECTION-2-CHILD-DIV-1{
        margin-bottom: -40px;
    }
}
@media (min-width:660px){
    #SECTION-2-HEADING{
        margin-top: 32px;
    }
}
@media (min-width:760px){
    #SECTION-2{  
        width: 100%;
        height: 300px;
        padding-left: 5%;
    }
    #SECTION-2-HEADING{
        margin-top: 30px;
    }
    #SECTION-2-MAIN-DIV{
        padding-top: -100px;
    }
    .SECTION-2-CHILD-DIV-3{
        margin-top: -5px;
    }
}    
@media (min-width:840px){
    #SECTION-2-HEADING{
        margin-top: 10px;
        text-align: center;
    }
    #SECTION-2{
        width: 100%;
        height: 300px;
    }
    .SECTION-2-CHILD-DIV-1{
        margin-top: -30px;
    }

}
/* Who We are */
#SECTION-3{
    background-color: #333;
    height: 420px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#SECTION-3-IMAGE{ 
    background: url(./Image/people.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:420px;
    width: 608px;
    max-width: 1100px;
}
#SECTION-3-CONTENT{
    background-color:#6d8f47;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
    max-width: 1100px;
}
#SECTION-3-HEADING{
    font-size: 35px;
    color: white;
    margin-top: 25px;
    margin-left: 25px;
}
#WHO{
    color: #93CB52;
}
#SECTION-3-P{
    text-align: left;   
    color:white;
    margin-left: 25px;
    font-size: 17px;
    
}
#H3-OF-CONTENT{
    color: #fff;
    margin-top: 0%;
    font-weight: bold;
    margin-left: 25px;
    margin-top: -10px;
}
#UL-OF-CONTENT{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 17px;
    margin-left: 25px;
    margin-top: 8px;
    gap: 2px 0;
}
#UL-OF-CONTENT li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;

}
@media (max-width:500px){
    #SECTION-3{
        height: 500px;
    }
    #SECTION-3-IMAGE{
        display: none;
    }
    #SECTION-3-P{
        font-size:17px;
        padding-bottom: 20px;
    }
}
@media (max-width:760px){
    #SECTION-3-IMAGE{
        display: none;
    }
    #SECTION-3-P{
        font-size: 17px;
    }
}
@media (max-width:860px){
    #SECTION-3-CONTENT{
        width: 50%;
    }
}
@media (max-width:1020px){
    #SECTION-3-CONTENT{
        width: 50%;
    }
    #SECTION-3-IMAGE{
        width: 50%;
    }
    #SECTION-3-P{
        font-size: 15px;
    }
}
/* Our Client */
#SECTION-4-BACKGROUND{
    background-color:white;
    height: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.SECTION-4{
    max-width: 1100px;
    margin: auto;
}
.OUR{
    color: #93CB52;
}
#SECTION-4-HEADING{
    text-align: center;
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 40px;
}
#SECTION-4-IMAGES{
    display:flex;
    justify-content: center;
    padding: 0 2rem;
    flex-wrap: nowrap;
}
.LOGO{
    display: block;
    width: 60%;
    margin: auto;
}
@media (max-width:500px){
    #SECTION-4-BACKGROUND{
        width: 100%;
        height: 200px;
    }
    #SECTION-4-IMAGES{
        margin-top: 10px;
    }
    #SECTION-4-HEADING{
        font-size: 28px;
    }
}
@media (max-width:790px){
    #SECTION-4-IMAGES{
        display: flex; 
    }

}
/* Contact Us */
#SECTION-5{
    display: flex;
    flex-direction:row;
    background-color: #93CB52;
}
#SECTION-5-CONTACT{
    height: 460px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 32px;
}
#SECTION-5-HEADING{
    color: white;
    font-size: 34px;
    padding-top: 26px;
}
#SECTION-5-PARA{
    color: white;
    font-size: 15px;
    display: flex;
    flex-wrap: nowrap;
}
#SECTION-5-FORUM{
    width: 100%;
    padding: 0.5rem;
    margin-top: -12px;
}
.LABEL-NAME{
    margin-bottom: 15px;
    text-align: left;
    padding:0 8px;
}

.TEXT-AREA{
    width: 100%;
    padding: 4px 0;  
    text-align: left; 
}
#Name{
    display: flex;
    flex-direction:column;
    margin-bottom: 4px;
    color: white;
}
#Email{
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    color: white;
}
#Phone-Number{
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    color: white;
}
#Message{
    display: flex;
    flex-direction: column;
    color: white;
}
.SEND{
    color: white;
    text-align: center;
    background-color: #333;
    width: 100%;
    border-radius: 5px;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
}
.SEND:hover{
    background-color: #6d8f47;
}
#SEND-DIV{
    text-align: center;
}
#UNLOAD-MAP{
    background-color: #E8EAED;
    width: 65%;
    display: flex;
    flex-shrink: 2;
}
@media (max-width:630px){
    #SECTION-5-PARA{
        font-size: 12px;
    }
    #SECTION-5-CONTACT{
        width: 100%;
    }
    #UNLOAD-MAP{
        width: 0%;
    }
}
@media (max-width:768px){
    .SEND{
        font-size: 13px;
    }
    #SECTION-5-HEADING{
        font-size: 28px;
    }
}
@media (min-width:850px){
    #SECTION-5-HEADING{
        font-size: 34px;
    }
}
 #FOOTER{
    background-color: #333;
    margin-top: -20px;
    height: 80px;
    width: 100%;
} 
#P-OF-FOOTER{
    text-align: center;
    line-height: 80px;
    font-size: 17px;
}
@media (max-width:500px){
    #P-OF-FOOTER{
        font-size: 14px;
    }
}




